ul{list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #F1E98B; width: 100%}
li{float: right}
li a{display: block; padding: 8px; text-decoration: none; color:black; font-family: 'Open Sans', sans-serif; font-size: 15px}
li a:hover{background-color:white}
.active{background-color: white}

body{background-image:url(perspective%20side%20view.jpg); width: 900px; height: auto}

h1{font-size: 100px; font-family: 'Raleway', sans-serif; text-align: center;}