nav{background-color: #F1E98B}

ul{list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #F1E98B; width: 100%}
li{float: right}
li a{display: block; padding: 8px; text-decoration: none; color:black; font-family: 'Open Sans', sans-serif; font-size: 15px}
li a:hover{background-color:white}
.active{background-color: white}

body{background-color: #DDE5E9}

img{
    border-radius: 50%; resize: both; width: 40%; margin-left: 50px; margin-top:50px; display: inline-block; float: left
}

h1{font-family: 'Raleway', sans-serif; font-size: 75; display:inline-block; float: right; margin-right: 8%; margin-top: 8%; font-size:80px}

#text{font-family: 'Raleway', sans-serif; font-size: 75; float: right; margin-right: 15%; display: inline-block; font-size: 25px}

#link {float: right; display: inline-block; margin-right: 50%; margin-top: 10%; font-size: 20px; font-family: 'Raleway', sans-serif;}


#link a:link, #link a:visited {background-color:#F1E98B; color: white; padding: 14 px 25 px; text-align: center; text-decoration: none; display: inline-block; width: 100px; height: 50px; text-align: center;}

#link a:hover,#link a:active {background-color: white; width: 80px; height: 30px}